﻿@model Nop.Plugin.Columbus.MarketingWidget.Models.MarketingWidgetModel
@using Nop.Core.Infrastructure
@using Nop.Web.Framework
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    Layout = "_AdminLayout";
    //page title
    ViewBag.Title = "Marketing widget management";
}

@using (Html.BeginForm())
{
<div class="content-header clearfix">
    <h1 class="pull-left">
        Marketing Widget
    </h1>
    <div class="pull-right">
        <button type="submit" class="btn bg-purple">
            <i class="fa fa fa-floppy-o"></i>
            Save
        </button>
        <a href="/Admin/MarketingWidget/WidgetList" class="btn bg-olive">Back to Widget List</a>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3" >
                                @Html.LabelFor(model => model.Name)
                            </div>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3" >
                                @Html.LabelFor(model => model.HTMLContent)
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="@Model.HTMLContent" asp-template="RichEditor" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3" >
                                @Html.LabelFor(model => model.IsActive)
                            </div>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.IsActive)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3" >
                                @Html.LabelFor(model => model.Order)
                            </div>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Order)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3" >
                                @Html.LabelFor(model => model.WidgetLocation)
                            </div>
                            <div class="col-md-9">
                                @Html.DropDownListFor(model => model.WidgetLocation, Model.WidgetLocations, Model.WidgetLocation)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3" >
                                @Html.LabelFor(model => model.ValidFrom)
                            </div>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.ValidFrom)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3" >
                                @Html.LabelFor(model => model.ValidTo)
                            </div>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.ValidTo)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                }


