﻿@model Nop.Plugin.Widget.Mobile.Number.Infrastructure.Cache.MobileNumberConsumer
@{
    Layout = "";
}

<label>IsEnabled:</label>
<input type="text" />

<label>IsEnabled:</label>
<input type="text" />