﻿@model Nop.Plugin.Product.Quickview.Models.ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}
@await Component.InvokeAsync("StoreScopeConfiguration")
<form asp-controller="ProductQuickview" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.CheckBoxFor(m => m.DisplayAddToCart)  @T("Nop.Plugin.Product.Quickview.DisplayAddToCart")
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


