﻿<div id="quickViewPanel" class="hidden">
    <div class="mask">
    </div>
    <div class="sidenav">
        <a class="closebtn" id="closeBtn">&times;</a>
        <div class="content">

        </div>
    </div>
</div>


