﻿@model Nop.Plugin.Columbus.SEOSchema.Models.ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")
<form asp-controller="SEOSchema" asp-action="Configure" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <h3>Configure here on how to enable or disable page wise schema definitions</h3>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.CheckBoxFor(m => m.AddSchematoHomePage) </td>
                <td>@T("Plugins.Columbus.SEOSchema.AddSchematoHomePage")</td>
            </tr>
            <tr>
                <td>@Html.CheckBoxFor(m => m.AddSchematoCategoryPage) </td>
                <td>@T("Plugins.Columbus.SEOSchema.AddSchematoCategoryPage")</td>
            </tr>
            <tr>
                <td>@Html.CheckBoxFor(m => m.AddSchematoManufacturerPage) </td>
                <td>@T("Plugins.Columbus.SEOSchema.AddSchematoManufacturerPage")</td>
            </tr>
            <tr>
                <td>@Html.CheckBoxFor(m => m.AddSchematoProductPage) </td>
                <td>@T("Plugins.Columbus.SEOSchema.AddSchematoProductPage")</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                </td>
            </tr>
        </tfoot>
    </table>
    
</form>

