﻿.remove-btn {
    border: none;
    -webkit-appearance: checkbox;
}

.btn_qtydecrease {
    /*background: url(images/main/cart-qtyminus-btn.jpg) no-repeat left top;*/
    width: 30px;
    height: 30px;
}
.btn_qtyincrease {
    /*background: url(images/main/cart-qtyminus-btn.jpg) no-repeat left top;*/
    width: 30px;
    height: 30px;
}
.txt-qty {
    height: 31px !important;
    width: 52px !important;
    color: #000101;
    font-weight: 400;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #dbdbdb;
    border-image: none;
    border-style: solid none;
    border-width: 1px medium;
    font-size: 16px;
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 115px;
}

    .wrapper > div {
        margin: 10px;
        text-align: -webkit-center;
    }

.first {
    width: 50px;
}

.second {
    width: 50px;
}

.third {
    width: 50px;
}
